.svn
.project
.buildpath
*.architect
*.xda
/nbproject/private/
.DS_Store
.idea
src/config/database.php
*.orig
*.rej
.sass-cache/

/src/storagecenter/classic.json
/src/storagecenter/modern.json
/src/storagecenter/bootstrap.js
/src/storagecenter/bootstrap.css
/src/storagecenter/sass/example/bootstrap.json
/src/storagecenter/sass/example/bootstrap.js
/src/storagecenter/build/development/
/src/storagecenter/build/testing/
/src/storagecenter/build/production/
/src/storagecenter/build/temp/testing/
/src/storagecenter/build/temp/development/
/src/storagecenter/build/temp/production/Softnas/sass
/src/storagecenter/build/temp/production/Softnas/sencha-compiler
/src/storagecenter/ext/build/

/src/cloudfabric/classic.json
/src/cloudfabric/modern.json
/src/cloudfabric/bootstrap.js
/src/cloudfabric/bootstrap.css
/src/cloudfabric/sass/example/bootstrap.json
/src/cloudfabric/sass/example/bootstrap.js
/src/cloudfabric/build/development/
/src/cloudfabric/build/testing/
/src/cloudfabric/build/production/
/src/cloudfabric/build/temp/testing/
/src/cloudfabric/build/temp/development/
/src/cloudfabric/build/temp/production/Softnas/sass
/src/cloudfabric/build/temp/production/Softnas/sencha-compiler
/src/cloudfabric/ext/build/

/src/applets/softnas/ext/build/

/src/applets/softnas/flexfiles/classic.json
/src/applets/softnas/flexfiles/modern.json
/src/applets/softnas/flexfiles/bootstrap.js
/src/applets/softnas/flexfiles/bootstrap.css
/src/applets/softnas/flexfiles/sass/example/bootstrap.json
/src/applets/softnas/flexfiles/sass/example/bootstrap.js

/src/applets/softnas/build/development/FlexFilesApp
/src/applets/softnas/build/testing/FlexFilesApp
/src/applets/softnas/build/production/FlexFilesApp
/src/applets/softnas/build/temp/testing/FlexFilesApp
/src/applets/softnas/build/temp/development/FlexFilesApp
/src/applets/softnas/build/temp/production/FlexFilesApp/sass/
/src/applets/softnas/build/temp/production/FlexFilesApp/sencha-compiler

/src/applets/softnas/cloudessentials/classic.json
/src/applets/softnas/cloudessentials/modern.json
/src/applets/softnas/cloudessentials/bootstrap.js
/src/applets/softnas/cloudessentials/bootstrap.css
/src/applets/softnas/cloudessentials/sass/example/bootstrap.json
/src/applets/softnas/cloudessentials/sass/example/bootstrap.js

/src/applets/softnas/build/development/CloudEssentialsApp
/src/applets/softnas/build/testing/CloudEssentialsApp
/src/applets/softnas/build/production/CloudEssentialsApp
/src/applets/softnas/build/temp/testing/CloudEssentialsApp
/src/applets/softnas/build/temp/development/CloudEssentialsApp
/src/applets/softnas/build/temp/production/CloudEssentialsApp/sass/
/src/applets/softnas/build/temp/production/CloudEssentialsApp/sencha-compiler

/src/applets/shares/classic.json
/src/applets/shares/modern.json
/src/applets/shares/bootstrap.js
/src/applets/shares/bootstrap.css
/src/applets/shares/sass/example/bootstrap.json
/src/applets/shares/sass/example/bootstrap.js
/src/applets/shares/build/development/
/src/applets/shares/build/testing/
/src/applets/shares/build/production/
/src/applets/shares/build/temp/testing/
/src/applets/shares/build/temp/development/
/src/applets/shares/build/temp/production/Softnas/sass
/src/applets/shares/build/temp/production/Softnas/sencha-compiler
/src/applets/shares/ext/build/

/src/applets/flexfiles/

.sencha_backup/
*.pydevproject*
.settings/
.sencha/
DEBS/
softnas-skel
fuusionsrc
npm-debug.log
